@media (max-width: 1100px) {
    .column_main {
        width: 65%;
    }
    .column {
        max-width: 25%;
    }
}
@media (max-width: 1048px) {
    .column_main {
        width: 63%;
    }
}

@media (max-width: 989px) {
    .column_main {
        width: 62%;
    }
    .column_contacts ul li{
        font-size: 16px;
    }
    .column_skills ul li {
        font-size: 16px;
    }
    .column_education ul li {
        font-size: 16px;
    }
    .column_lang ul li {
        font-size: 16px;
    }
}
@media (max-width: 968px) {
    .name {
        font-size: 45px;
    }
    .spec {
        font-size: 37px;
    }

    .navigation_wrapper ul li a {
        font-size: 24px;
    }
    .column_main_header {
        font-size: 36px;
    }
    .column_headers {
        font-size: 36px;
    }
}

@media (max-width: 910px) {
    .header_wrapper {
        flex-wrap: wrap;
    }
    .column{
        max-width: none;
        width: 100%;
        border-bottom: 10px solid orange;
    }
    .column_main {
        border-left: none;
        max-width: none;
        width: 100%;
    }
    .level {
        flex-wrap: wrap;
    }
    .column_contacts ul li {
        list-style-type: none;
        font-size: 20px;
        text-align: center;
    }
    .column_skills ul li {
        font-size: 20px;
        text-align: center;
        list-style-type: none;
    }
    .column_education ul li {
        font-size: 20px;
        text-align: center;
        list-style-type: none;
    }
    .column_lang ul li {
        font-size: 20px;
        text-align: center;
        list-style-type: none;
    }
    .avatar_img {
        max-width: 100%;
    }
    .navigation_wrapper {
        height: 60px;
    }
    .navigation_wrapper ul li a {
        font-size: 22px;
    } 
}
@media (max-width: 738px) {
    .navigation_wrapper ul li a {
        font-size: 20px;
    }
    .navigation_wrapper ul li {
        text-align: center;
    }
}